// Colors
$c_primary: #fc535a;
$c_primary_light:#fc757a;
$c_dark_gray: #2b2b2b;
$c_light_gray: #D3D3D3;
$c_white: #ffffff;
$c_black: #000000;

// Screen breakpoints
$screen:(
  _xxxl: 1600px,
  _xxl: 1500px,
  _xl: 1400px,
  _xl-max: 1399px,
  _lg: 1200px,
  _lg-max: 1199px,
  _md: 992px,
  _md-max: 991px,
  _sm: 768px,
  _sm-max: 767px,
  _xs-middle: 700px,
  _xs-middle-max: 699px,
  _xs: 576px,
  _xs-max: 575px,
  _xxs: 520px,
  _xxs-max: 519px,
  _xxxs: 400px,
  _xxxs-max: 399px,
);